:root {
    --grey: rgba(255, 255, 255, 0.808);
}

* {
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color: #0C0032;
}

header, footer {
    display: flex;
    justify-content: space-between;
    color: var(--grey);
    background-color: #190061;
}

header h1 {
    margin-left: 10px;
}

li {
    display: inline;
    font-size: 25px;
    margin-right: 11px;
}

footer li {
    margin-right: 30px;
}

a {
    text-decoration: none;
}

:visited, :link {
    color: var(--grey);
}

img {
    height: 400px;
    width: 400px;
    max-width: 100%;
}

img:hover {
    box-shadow: 4px 4px 10px;
}

section {
    flex-wrap: wrap;
    text-align: center;
    margin: auto;
    height: 400px;
    width: 400px;
    max-width: 100%;
    margin-top: 80px;
}

#img1 {
    height: 1000px;
    width: 2200px;
    margin: auto;
    margin-top: 20px;
}

#work {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    color: var(--grey);
}

#contact {
    margin-top: 80px;
}