:root {
    --grey: rgba(255, 255, 255, 0.808);
}

* {
    font-family: 'Times New Roman', Times, serif;
}


body {
    background-color: #0C0032;
}

header {
    display: flex;
    justify-content: space-between;
    color: var(--grey);
    background-color: #190061;
}

header h1 {
    margin-left: 10px;
}

header li {
    display: inline;
    font-size: 25px;
    margin-right: 11px;
}

a {
    text-decoration: none;
}

:visited {
    color: var(--grey);
}